* {
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(16, 16, 16, 1);
    color: white;
    background-blend-mode:multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    image-rendering: pixelated;
}

.title {
    text-align: center;
    padding: 2%;
}

.item {
    padding: 0.5em;
    width: 85%;
    position: relative;
    padding-bottom: 50px;

    border: 2px solid;
    border-radius: 0.5em;
    border-color: rgba(0, 0, 0, 0);

    background: rgb(28,28,28);
    background: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgb(42, 42, 42) 100%);
}
  
  .container {
    border-radius: 0.5em;
    font: 1.2em sans-serif;
    padding: 1em;
  
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 10%;
  }

  .itemimage {
    padding: 1em;
    width: 16em;
    height: 16em;
    float:left;
    object-fit: cover;
    border-radius: 10%;
  }

  .itembutton {
    background-color: rgb(52,52,52);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0.5em;
    color: rgb(200, 200, 200);
    padding: 0.5em;
    margin-left: 1em;
    width: 70px;
  }

  .itembuttonwide {
    padding: 0.5em;
    border: 1px outset;
    color: rgb(200, 200, 200);
    background-color: rgb(52,52,52);
    text-decoration: none;
    margin-left: 1em;
    width: 110px;
    font-size: 14px;
    border-radius: 0.5em;
    border-color: rgba(0, 0, 0, 0);
  }

.itembuttoncontainer {
    position: absolute;
    bottom: 4.5%;
    left: 1.8%;
}

.grey {
    color: rgb(84, 84, 84);
}

  .footer, a{
      color: rgb(189, 189, 189);
      text-align: center;
      padding: 0.5em;
  }

  hr {
    width: 320px;
  }


  
/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background: linear-gradient(0deg, rgb(17, 17, 17) 0%, rgb(42, 42, 42) 100%);
  position: fixed;
  height: 97.5%;
  overflow: auto;
  border-radius: 1em;
  border: 2px solid;
  border-color: rgba(0, 0, 0, 0);
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
  color:rgb(255, 255, 255);
}

/* Active/current link */
.sidebar a.active {
  background-color: #454545;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #343434;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1250px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 